*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 500px;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-image:url(img/8.png);
}

.logo{
    margin-top: 12px;
    margin-left: 10px;
    display: flex;
    align-items: left;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.nav>ul>li{
    text-decoration: none;
    list-style: none;
    color: black;
}

.menu{
    display: flex;
    width:auto;
    float: top;
    height:auto;
    margin-left: 150px;
    margin-top: -25px;
    align-items: left;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-size: 20px;
    transform: translate(0%, -150%);

}

ul{
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

ul li a{
    color: white;
    margin-left: 100px;
    list-style: none;
    text-decoration: none;
}

.text{
    color: black;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px 100px;
}

.image{
     margin: auto;
     padding: auto;
     margin-left: 130px;
     margin-top: 80px;
 }

 .info-row{
     display: flex;
     justify-content: space-between;
     width: auto;
     margin: auto;
     text-align: center;
     padding-top: 10px;
     background-color:white;
     background-size: cover;
     background-position: center;
     position: relative;
    }
 
 .img-col{
    flex-basis: auto;
    background:white;
    border-radius: 10px;
    margin-bottom: 5%;
    margin: auto;
    padding: 50px 20px;
    box-sizing: border-box;
 }

 .exp-col{
    flex-basis: auto;
    background:white;
    margin: auto;
    margin-top: 5px;
    margin-left: -30px;
    padding: 50px 20px;
    box-sizing: border-box;
    text-align: left;
 }

 .cta{
    text-align: center;
    padding-top: 50px;
    background-color: rgba(25, 32, 77, 1);
    background-size: cover;
    background-position: center;
}

.box input{
    width: 20%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 20px;
    border: white;
    height: auto;
}

.box button{
    width: 15%;
    padding: 6px;
    background: rgba(25, 32, 77, 1);
    color: white;
    height: 50px;
    border-radius: 10px;
    margin-left: 50px;
}

.box{
    display: flex;
    margin-left: 50px;
    background: rgb(154, 231, 241);
    padding: 5px 3px;
    width: 700px;
    text-align: center;
    border-radius: 5px;
    transform: translate(30%, -300%);

}


.box1{
    flex: auto;
    margin-top: 30px;
    background-color: rgba(23, 43, 77, 1);
    padding: 5px 5px;
    width: auto;
    height: 100px;
    text-align: center;
    border-radius: 5px;
}
